*{
    padding: 0;
    margin: 0;
    
}

body,html{
    background-color: rgb(9, 24, 51);
    color:  white;
    font-size: 20px;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

main{
    background-color:rgb(10, 125, 219);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 30px;

}
 
input{
    width: 15%;
    height: 25px;
border: none;
text-align: center;
font-weight: bold;
}
output{
    border-bottom: 2px solid ;
    width:fit-content;
}

.btn{
    cursor: pointer;
    border-radius: 15px;
    border: 1px white solid;
    padding: 5px 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(9, 8, 83);
}
.btn:hover{
    background-color:rgb(10, 125, 219);
color: white;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}